
body{
    background-color: rgb(29, 106, 136);
    font-size: large;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
}

#mainHeading{
    text-align: center;
    color: white;
    background-color: rgb(29, 106, 136);
}

.content{
    align-items: center;
    border: solid ;
    border-color: white;
    text-align: center;
    background-color: powderblue;
    margin-bottom: 10px;
}


